.footer-container {
    width: 100%;
    height: 15h;
    position: absolute;
    background: #00000014;
    bottom: 0;
    display: flex;
    justify-content: space-between;
}

.left-text {
    text-align: left;
    font-size: 18px;
    margin: 17px;
    display: inline;
    color: #a7a7a7;
}

.right-text {
    text-align: right;
    font-size: 18px;
    margin: 17px;
    display: inline;
    color: #a7a7a7;
}